.services-page {
  padding-left: 10px;
  padding-right: 10px;

  @media(min-width: $tablet-width) {
    padding: 0;
  }
}

.services-wrapper {
  max-width: $desktop-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__title-small {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: $blockTitleColor;
  text-align: center;
  margin-top: 82px;
  margin-bottom: 12px;
}

.services__title-block {
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 78px;
  max-width: 842px;
  width: 100%;
}

.services__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  margin: 0 auto 206px auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 206px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service__item {
  max-width: 300px;
  width: 100%;

  img {
    max-width: 300px;
    width: 100%;
  }
}

.service__item-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 12px;
}

.service__item-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: $blockTitleColor;
  margin-bottom: 28px;
  margin-top: 0;
}

.service__item-link {
  display: flex;
  align-items: center;
  color: $headerBgColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 0;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  transition: 0.3s;

  svg {
    margin-left: 12px;
    transition: 0.3s;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $headerBgColor;
    transition: 0.3s;
  }

  &:hover {
    transition: 0.3s;
    color: $buyLinkBorderColor;

    svg {
      stroke: $buyLinkBorderColor;
      fill: $buyLinkBorderColor;
      transition: 0.3s;
    }

    &::after {
      background-color: $buyLinkBorderColor;
      transition: 0.3s;
    }
  }
}

.services__connect-first {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 226px;
  }
}

.connect__graphic {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    max-width: 494px;
    margin-top: 10px;
  }
}

.connect__chart {
  width: 80%;
  margin-left: 10%;
  margin-top: -38%;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  svg {
    width: 100%;
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: 784px) {
    width: 251px;
    position: absolute;
    bottom: 4%;
    right: 58px;
  }

  @media (min-width: 785px) and (max-width: 869px) {
    width: 251px;
    position: absolute;
    bottom: -5%;
    right: 58px;
  }

  @media (min-width: 870px) and (max-width: 898px) {
    width: 251px;
    position: absolute;
    bottom: -10%;
    right: 58px;
  }

  @media (min-width: 899px) {
    width: 251px;
    position: absolute;
    bottom: -100px;
    right: 58px;
  }
}

.connect__chart-text {
  width: 100%;
  text-align: left;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }
}

.connect__chart-percent {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36.267px;
  color: $headerBgColor;
  margin-bottom: 0;
}

.connect__chart-description {
  margin-top: 4px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $headerBgColor;
}

.connect__info {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 493px;
    width: 100%;
  }
}

.connect__info-title {
  font-family: 'Manrope', sans-serif;
  color: #000000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

.connect__info-list {
  list-style: none;
  padding: 0;
}

.connect__info-item {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 63px;
  margin-bottom: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: -63px;
    background: url("@img/svg/mark.svg") $headerBgColor;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.connect__info-link {
  border-radius: 56px;
  border: 2px solid $headerBgColor;
  background-color: $headerBgColor;
  padding: 16px 56px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 56px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: $buyLinkBorderColor;
    color: $headerBgColor;
    border-color: darken($buyLinkBorderColor, 15%);
  }
}

.services__connect-second {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.connect__second-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 226px;
  }
}

.connect__second-graphic {
  order: 2;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    max-width: 494px;
    width: 100%;
    margin-top: 10px;

    img {
      max-width: 444px;
      width: 100%;
    }
  }
}

.connect__second-info {
  order: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 493px;
    width: 100%;
  }
}

.connect__second-title {
  margin-bottom: 64px;
}

.connect__second-list {
  list-style-type: none;
  padding: 0;
}

.connect__second-item {
  display: flex;
  align-items: center;
  background-color: red;
  padding: 16px 22px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 24px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.3s;

  svg {
    margin-right: 14px;
    transition: 0.3s;
    stroke: $headerBgColor;
  }

  &:hover {
    transition: 0.3s;
    color: #ffffff;
    background-color: $headerBgColor;

    svg {
      stroke: #ffffff;
      transition: 0.3s;
    }
  }
}

.second__item--active {
  color: #ffffff;
  background-color: $headerBgColor;

  svg {
    margin-right: 14px;
    transition: 0.3s;
    stroke: #ffffff;
  }
}

.chart__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.chart__item {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 13.878px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.79px;
  margin-bottom: 12px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 0;
    top: 10px;
    border-radius: 50%;


  }

  &:nth-of-type(1)::before {
    background-color: #0DBBFC;
  }

  &:nth-of-type(2)::before {
    background-color: #69E6A6;
  }

  &:nth-of-type(3)::before {
    background-color: #C4C4C4;
  }

  p {
    padding-left: 15px;
  }
}

.second__chart {
  left: 48px;
  padding: 2px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  margin-top: -29%;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);

  svg {
    width: 100%;
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: 784px) {
    width: 291px;
    position: absolute;
    bottom: 3%;
    right: 58px;
    margin-left: 0;
    margin-top: 0;
  }

  @media (min-width: 785px) and (max-width: 806px) {
    width: 291px;
    position: absolute;
    bottom: -11%;
    right: 58px;
    margin-left: 0;
    margin-top: 0;
  }

  @media (min-width: 807px) and (max-width: 918px) {
    width: 291px;
    position: absolute;
    bottom: -17%;
    right: 58px;
    margin-left: 0;
    margin-top: 0;
  }

  @media (min-width: 919px) and (max-width: 952px) {
    width: 291px;
    position: absolute;
    bottom: -22%;
    right: 58px;
    margin-left: 0;
    margin-top: 0;
  }

  @media (min-width: 953px) {
    width: 291px;
    position: absolute;
    bottom: -33%;
    right: 58px;
    margin-left: 0;
    margin-top: 0;
  }
}
